/*header开始*/
#header_contact{
	width: 100%;
	height: 192px;
	overflow: hidden;
}
#header_contact img{
	float: left;
	width: 100%;
	height: 872px;
}
/*header结束*/
/*single开始*/
#single{
	width: 100%;
	height: 1575px;
	padding:80px 0;
	background: #eee;
}
.single_container{
	width: 100%;
	height:1575px;
}
.single_img{
	width: 100%;
	height: 446px;
}
.single_container .img_content{
	width: 100%;
	height: 100px;
	margin: 14px 0;
	color: #555;
	font-size: 0.9em;
	line-height: 1.8em;
	margin: 1em 0;
}
.comment_list{
	width: 1074px;
	height: 150px;
	padding: 32px;
	border: 1px solid #ccc;
	margin: 48px 0;
}
.comment_author{
	float: left;
	width: 100%;
	height: 23px;
	line-height: 1.2em;
	font-size: 1.2em;
	color: #999;
	margin-top: 10px;
	margin-bottom: 10px;
}
.comment_author a{
	color: #999;
}
.comment_content{
	width: 100%;
	height: 107px;
	float: left;
}
.comment_img{
	float: left;
	height: 100%;
	width: 10%;
	margin-right: 20px;
}
.desc{
	float: left;
	width: 946px;
	height: 100%;
	color: #555;
	font-size: 0.9em;
	line-height: 1.8em;

}
.comment_content p{
	float: left;
	width: 946px;
	height: 25px;
	color: #555;
	font-size: 0.9em;
	line-height: 1.8em;
	margin: 1em 0;
}
.comment_content p a{
	color: #555;
}
.comment_area{
	width: 100%;
	height:671px;
	margin-top: 80px;
}
.comment_area form{
	width: 100%;
	height: 620px;
}
.comment_area .name ,.email ,.website{
	float: left;
	width: 100%;
	height: 85px;
	padding: 8px 0;
	color: #555;
	font-size: 0.9em;
	line-height: 1.8em;
}
.comment_area p label{
	display: block;
	color: #999;
	font-weight: 300;
	float: left;
	width: 100%;
	height: 25px;
	margin-bottom: 5px;
}
.comment_area input[type="text"]{
	width: 815px;
	height: 25px;
	padding: 15px 20px;
	background: #fff;
	border: none;
}
.comment_area p textarea{
	width: 966px;
	height: 170px;
	padding: 15px 30px;
	border: none;
}
.subject{
	width: 100%;
	height: 246px;
	float: left;
}
.sub{
	float: left;
	width: 100%;
	height: 55px;
}
.sub input{
	color: #fff;
	background: #02D7FD;
	font-size: 1em;
	width: 138px;
	height: 55px;
	cursor: pointer;
	border:none;
}
/*single结束*/
#footer{
	border-top: 1px solid #ccc;
	background: #eee;
}